mat-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-title h1 {
  font-size: 24px;
}

mat-card-content p {
  font-size: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}
