.sidebar {
  width: 200px;
  height: 100vh;
  border-right: 1px solid var(--tui-base-04);
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: var(--tui-text-02);
  font-weight: bold;
}

tui-scrollbar{
  position: absolute;
  left: 0;
}
