<div class="login-form">
  <h1>Login</h1>
  <form [formGroup]="userLoginForm">
    <div class="tui-form__row">
      <tui-input formControlName="email">
        Email
        <input tuiTextfield />
      </tui-input>
    </div>

    <div class="tui-form__row">
      <tui-input-password formControlName="password">
        Password
      </tui-input-password>
      <tui-error
        formControlName="password"
        [error]="[] | tuiFieldError | async"
      ></tui-error>
    </div>
  </form>

  <button
    appearance="primary"
    tuiButton
    size="m"
    type="button"
    class="tui-space_right-3 tui-space_bottom-3 tui-space_top-3"
    (click)="login()"
  >
    Submit
  </button>
</div>
