<p-menubar>
  <ng-template pTemplate="start">
    <a (click)="toggleSidebar()" class="sidebarToggle">
      <i class="pi pi-bars"></i>
    </a>
  </ng-template>

  <ng-template pTemplate="end">
    <ng-container *ngIf="!isLoggedIn()">
      <div class="button-container">
        <p-button
          type="button"
          label="Login"
          [routerLink]="'/login'"
        ></p-button>
        <p-button
          type="button"
          label="Register"
          [routerLink]="'/register'"
        ></p-button>
      </div>
    </ng-container>
    <ng-container *ngIf="isLoggedIn()">
      <div class="user-avatar-dropdown">
        <p-avatar
          label="HZ"
          styleClass="mr-2"
          size="large"
          [style]="{ 'background-color': '#2196F3', color: '#ffffff' }"
          (click)="menu.toggle($event)"
        ></p-avatar>
        <p-menu #menu [model]="dropdownOptions" [popup]="true" [pTooltip]=""></p-menu>
      </div>
    </ng-container>
  </ng-template>
</p-menubar>
