.navbar {
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  border-bottom: 1px solid var(--tui-base-04);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

img {
  max-height: 2rem;
}

.user-commands {
  display: flex;
  align-items: center;
  gap: 20px;
  a {
    text-decoration: none;
    color: var(--tui-text-02);
    &:hover{
      color: var(--tui-primary-01);
    }
  }
}
