<mat-toolbar color="primary">
  <div class="left-align">
    <button mat-icon-button (click)="toggleSidebar()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>

  <div class="right-align">
    <ng-container *ngIf="!isLoggedIn()">
      <button mat-button [routerLink]="'/login'">Login</button>
      <button mat-button [routerLink]="'/register'">Register</button>
    </ng-container>

    <ng-container *ngIf="isLoggedIn()">
      <button mat-button [matMenuTriggerFor]="userMenu" class="profileButton">
        <span>
          {{ "HZ" }}
        </span>
      </button>
      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </ng-container>
  </div>
</mat-toolbar>
