<div class="inner-container">
  <h1>Invoice Details</h1>
  <form [formGroup]="invoiceForm" (ngSubmit)="onSubmit()">
    <div formArrayName="products">
      <div
        class="row"
        *ngFor="let product of getControls(); let i = index"
        [formGroupName]="i"
      >
        <div class="col-1">
          <mat-icon class="mt-3">email</mat-icon>
        </div>

        <mat-form-field class="col-4">
          <input matInput formControlName="name" placeholder="Product Name" />
        </mat-form-field>

        <mat-form-field class="col-4">
          <input matInput formControlName="price" placeholder="Product Name" />
        </mat-form-field>

        <mat-form-field class="col-4">
          <input
            matInput
            formControlName="unitOfMeasurement"
            placeholder="Product Name"
          />
        </mat-form-field>

        <mat-form-field class="col-4">
          <input
            matInput
            formControlName="tvaValue"
            placeholder="Product Name"
          />
        </mat-form-field>

        <mat-form-field class="col-4">
          <input
            matInput
            formControlName="containsTVA"
            placeholder="Product Name"
          />
        </mat-form-field>

        <div class="col-3">
          <!-- <button
            class="float-left"
            mat-icon-button
            color="primary"
            aria-label="Remove/clear"
            (click)="removeOrClearEmail(i)"
            matTooltip="Remove"
          >
            <mat-icon>highlight_off</mat-icon>
          </button> -->
          <button
            class="float-left"
            mat-icon-button
            color="primary"
            aria-label="Add"
            (click)="addProduct()"
            matTooltip="Add"
          >
            <mat-icon>add_circle_outline</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
