.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
}

.grid-item {
  width: 100%;
}

/* Large screens, 4 columns */
@media (min-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Medium screens, 3 columns */
@media (min-width: 900px) and (max-width: 1199px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Small screens, 2 columns */
@media (min-width: 600px) and (max-width: 899px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Extra small screens, 1 column */
@media (max-width: 599px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

table {
  border-radius: 5px;
  padding: 1px;
  z-index: 9999;
}

td {
  padding: 10px;
}
