<div class="register-form">
  <h1>Register</h1>
  <form [formGroup]="userRegisterForm">
    <tui-input formControlName="firstName">
      First Name
      <input tuiTextfield />
    </tui-input>
    <tui-input formControlName="lastName">
      Last Name
      <input tuiTextfield />
    </tui-input>
    <tui-input formControlName="email">
      Email
      <input tuiTextfield />
    </tui-input>
    <tui-input-password formControlName="password">
      Password
    </tui-input-password>
  </form>

  <button
    appearance="primary"
    tuiButton
    size="m"
    type="button"
    class="tui-space_right-3 tui-space_bottom-3 tui-space_top-6"
    (click)="register()"
  >
    Submit
  </button>
</div>
