<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1>Register</h1>
    <div class="form-group">
      <div class="form-field">
        <label for="firstName">First Name: </label>
        <input
          id="firstName"
          type="text"
          pInputText
          formControlName="firstName"
          placeholder="Enter your first name"
        />
      </div>
      <div class="form-field">
        <label for="lastName">Last Name: </label>
        <input
          id="lastName"
          type="text"
          pInputText
          formControlName="lastName"
          placeholder="Enter your last name"
        />
      </div>
    </div>
    <div class="form-group">
      <div class="form-field">
        <label for="email">Email: </label>
        <input
          id="email"
          type="text"
          pInputText
          formControlName="email"
          placeholder="Enter your email"
        />
      </div>
      <div class="form-field">
        <label for="password">Password: </label>
        <p-password
          inputId="password"
          formControlName="password"
          [feedback]="false"
          [toggleMask]="true"
          placeholder="Enter your password"
        />
      </div>
    </div>
    <div *ngIf="errorMessage" class="p-error">{{ errorMessage }}</div>
    <div class="controls">
      <p-button size="small" label="Submit" type="submit"></p-button>
    </div>
  </form>
</div>
