/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
span {
  font-family: "Inter", sans-serif;
}

html,
body {
  height: 100%;
  background-color: #f8fafc;
}

body {
  margin: 0;
}

mat-form-field {
  width: 100%;
}

.heading {
  margin-bottom: 20px;
}

.p-error {
  color: red;
  margin-bottom: 10px;
}
