<mat-progress-bar mode="query" *ngIf="!firms"></mat-progress-bar>
<div class="inner-container">
  <div class="app-header">
    <div class="left">
      <h1>Clients</h1>
    </div>
    <div class="right">
      <button mat-raised-button color="primary" (click)="openNewClientDialog()">
        <mat-icon>add</mat-icon>
        <span>New client</span>
      </button>
    </div>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z2"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- CUI Column -->
    <ng-container matColumnDef="cui">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by CUI"
      >
        CUI
      </th>
      <td mat-cell *matCellDef="let element">{{ element.cui }}</td>
    </ng-container>

    <!-- RegCom Column -->
    <ng-container matColumnDef="regCom">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by regCom"
      >
        RegCom
      </th>
      <td mat-cell *matCellDef="let element">{{ element.regCom }}</td>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by address"
      >
        Address
      </th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <!-- County Column -->
    <ng-container matColumnDef="county">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by county"
      >
        County
      </th>
      <td mat-cell *matCellDef="let element">{{ element.county }}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by city"
      >
        City
      </th>
      <td mat-cell *matCellDef="let element">{{ element.city }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
