<mat-progress-bar mode="query" *ngIf="!bankAccounts"></mat-progress-bar>
<div class="inner-container">
  <div class="app-header">
    <div class="left">
      <h1>Bank Accounts</h1>
    </div>
    <div class="right">
      <button
        mat-raised-button
        color="primary"
        (click)="openNewBankAccountDialog()"
      >
        <mat-icon>add</mat-icon>
        <span>New Account</span>
      </button>
    </div>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    matSort
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z2"
  >
    <!-- Bank Name Column -->
    <ng-container matColumnDef="bankName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bank Name</th>
      <td mat-cell *matCellDef="let account">{{ account.bankName }}</td>
    </ng-container>

    <!-- IBAN Column -->
    <ng-container matColumnDef="iban">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>IBAN</th>
      <td mat-cell *matCellDef="let account">{{ account.iban }}</td>
    </ng-container>

    <!-- Currency Column -->
    <ng-container matColumnDef="currency">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Currency</th>
      <td mat-cell *matCellDef="let account">{{ account.currency }}</td>
    </ng-container>

    <!-- Active Column -->
    <ng-container matColumnDef="isActive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Active</th>
      <td mat-cell *matCellDef="let account">
        {{ account.isActive ? "Yes" : "No" }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

    <!-- Row definition -->
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
